.checkboxStyle{
    input:checked + label::before {
        content: "X";
        background: #FF680F;
        font-weight: bold;
        font-size: 12px;
    }
    label {
        position: relative;
        background: #171717;
        color: white;
        display: block;
        font-size: 9px;
        padding: 6px 5px 6px 27px;
        border-radius: 5px;

        &::before{
            content: "";
            position: absolute;
            left: 5px;
            top: 5px;
            width: 15px;
            height: 15px;
            background: #292929;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}